<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="ture"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <connectionStrings>
    <!--Connection String with Password-->
    <!--add name="DBProductChallan" connectionString="Data source=ssp1;Initial Catalog=ProductChallan;User Id=sa;Password=1;" providerName="System.Data.SqlClient"/-->
    <!--add name="DBInventory" connectionString="Data source=ssp1;Initial Catalog=ProductChallan;User Id=sa;Password=1" providerName="System.Data.SqlClient"/-->
    <!--add name="DBMaster" connectionString="Data source=ssp1;Initial Catalog=ProductChallan;User Id=sa;Password=1" providerName="System.Data.SqlClient"/-->
    
    <!--Connection String without Password-->
    <add name="DBProductChallan" connectionString="Data source=.;Initial Catalog=ProductChallan1;User Id=sa;" providerName="System.Data.SqlClient"/>
    <add name="DBInventory" connectionString="Data source=ssp1;Initial Catalog=ProductChallan1;User Id=sa;" providerName="System.Data.SqlClient"/>
    <add name="DBMaster" connectionString="Data source=ssp1;Initial Catalog=ProductChallan1;User Id=sa;" providerName="System.Data.SqlClient"/>
    
    <!--D:\Service.Soft.All\Data-->
  </connectionStrings>

  <appSettings>
    <add key="e" value="22"/>
    <add key="F" value="21"/> <!--Future Not in Use -->
    <add key="C" value="21"/> <!--Future in Use -->
  </appSettings>
</configuration>
